

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}


.nav-logo button{
font-size: medium;
    height: 41px;
    width: 150px;
    color: white;
    border-radius: 5px;
    background-color: black;

}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #d5bdaf;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-search{
     position: relative;
  display: inline-block;
    margin-right: 10%;

}

.nav-search input{
    padding: 8px 8px 8px 35px;
  width: 400px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid black;
}
.nav-search i{
    position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: black;
font-size: 1rem;

}

.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.user-icon i {
    font-size: 20px;  
}

.user-icon span {
    font-size: 16px;  
}

.panel-image{
     transition: transform 0.3s;
}
.panel-image:hover{
    transform: scale(1.05);
}

.nav-bar2{
    height: 40px;
    width: 100%;
    background-color: #f5ebe0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar2 a{
    text-decoration: none;
    color: black;
}

i{
    color: black;
    font-size: 20px;
}


.return-policy{
    height: 45px;
    width: 100%;
    background-color: #f5ebe0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.return-info{
    height: 35px;
    width: 70%;
    background-color: #f2f2f2;
    border: 1px solid#f5ebe0;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.return-policy i{
    font-size: 15px;
}

.return-info p{
 margin-left: 10px;
font-family: serif;
}
.seven-days{
    display: flex;
    align-items: center;
   
}
.panel-image img{
    width: 100%;
    position: relative;
    display: block;

}

.wellcome {
    position: absolute;
    top: 40%;      
    right: 20%;      
    transform: translateY(-50%);
    text-align: center;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap; /* allow wrapping if small screen */
    padding: 15px;
    background-color: #f5ebe0;
}

.category {
    text-align: center;
}

.category img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color:rgb(36, 36, 36); 
    /* border-top-left-radius: 50%; */
    border-top-right-radius: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.category p {
    /* margin-top: 1px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 700;
}


.electronics-items {
   height: 800px;
   width: 100%;
   padding: 20px;
   position: relative;

   background-color: #f5ebe0;

}

.black-tick {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

    .product-container {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        overflow-x: auto;
        flex-wrap:wrap;
        margin-left: 30px;
        margin-right: 30px;
        /* padding-bottom: 10px; */
    }

    .product-card {
        background-color: #030303;
        border-radius: 10px;
        width: 230px;
        padding: 10px;
        flex: 0 0 auto;
        
    }

    .product-card img {
        width: 100%;
        border-radius: 10px;
        transition: transform 0.3s;
    }

    .product-card img:hover {
        transform: scale(1.05);
    }

    
    .product-title {
        font-size: 14px;
        margin: 10px 0;
        height: 38px;
        overflow: hidden;
        color: #ffffff;
    }

    .price {
        font-size: 18px;
        font-weight: bold;
        color: #f5ebe0;
    }

    .old-price {
        text-decoration: line-through;
        color: #ffffff;
        font-size: 14px;
        margin-left: 5px;
    }

    .stars {
        color: #a5a3b5;
        font-size: 14px;
        margin-top: 5px;
    }

    .watch-out{
        height: 320px;
        width: 100%;
        background-color: #f5ebe0;
        padding: 10px;
        font-size: x-large;
        /* position: relative;  */
        display: flex;
      
    }

    .item{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .item img {
        height: 80%;
        width: 100%;
        margin-top: 20px;
     object-fit: contain;
     display: inline-block;
     border-radius: 15px;
      transition: transform 0.3s;
    }
.item img:hover {
    transform: scale(1.05);
}

.watch-out-title{
    display: flex;
    display: inline-block;
}

.banner{
    height: 200px;
    width: 100%;
    background-color:#f5ebe0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}
.banner img{
    height: 160px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
      transition: transform 0.3s;

}
.banner img:hover{
     transform: scale(1.05);

}

.big-banner{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-banner img{
    height: 220px;
    width: 100%;
    object-fit: cover;
      transition: transform 0.3s;

}
.big-banner img:hover{
    transform: scale(1.05);
}


    footer {
        background:#f5f1ed;
        padding: 40px 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1px solid #333;
    }

    .footer-section {
        flex: 1;
        min-width: 220px;
        margin: 10px;
    }

    .footer-section h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .newsletter input {
        padding: 10px;
        width: 70%;
        border-radius: 8px;
        border: none;
        outline: none;
    }

    .newsletter button {
        padding: 10px 15px;
        border: none;
        background: #fff;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        border-radius: 8px;
        margin-left: 5px;
    }

    .social-icons {
        margin-top: 20px;
    }

    .social-icons a {
        color: #000000;
        font-size: 20px;
        margin-right: 15px;
        text-decoration: none;
        transition: 0.3s;
    }

    .social-icons a:hover {
        color: #2400ed;
    }

    .footer-links ul { 
        list-style: none;
        padding: 0;
    }

    .footer-links ul li {
        margin-bottom: 10px;
    }

    .footer-links ul li a {
        color: #000000;
        text-decoration: none;
        transition: 0.3s;
    }

    .footer-links ul li a:hover {
        color: #a363f6;
    }

    .copyright {
        background: #111;
        padding: 20px 80px;
        text-align: left;
        font-size: 14px;
        border-top: 1px solid #333;
    }
